{% extends 'base.html.twig' %}


{% block title %}article choisi {% endblock %}

{% block body %}
    <h1 class="mx-auto text-primary w-50 mt-5 mb-3">Article Courant </h1>

    {% if detailChansons is defined %}

        {% set data = detailChansons %}
        {% set dateSortie = data.dateSortie|date('d-m-Y') %}
        {% set dateAjout = data.dateAjout|date('d-m-Y') %}
        <table class="table table-striped w-75 mx-auto">
            <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Titre</th>
                <th scope="col">Nom de l'album</th>
                <th scope="col">Paroles</th>
                <th scope="col">Auteur</th>
                <th scope="col">Genre</th>
                <th scope="col">Date Ajout</th>
                <th scope="col">Date sortie</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <th scope="row">N°{{ data.id }}</th>
                    <th>{{ data.__toString|capitalize }}</th>
                    <td>{{ data.nomAlbum|capitalize }}</td>
                    <td>{{ data.paroles }}</td>
                    <td>{{ data.auteur|capitalize }}</td>
                    <td>{{ data.genre.nom|capitalize }}</td>
                    <td>{{ dateAjout}}</td>
                    <td>{{ dateSortie}}</td>

                </tr>

            </tbody>
        </table>
        <div class="w-50 d-flex justify-content-between mx-auto">
           <form method="post" action="{{ path('voter',{id:data.id}) }}" >
               <button type="submit" name="action" value="vote" class="btn btn-primary">Voter</button>
           </form>
            <span><a href="{{ path('modifierChanson',{id:data.id}) }}"  class="btn btn-primary" >Modifier</a></span>
            <span><a href="#"  class="btn btn-primary">Supprimer</a></span>

        </div>
    {% endif %}
{% endblock %}
