{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Formulaire de création du genre{% endblock %}

{% block body %}
    <h1 class="mx-auto text-primary w-50 mt-5 mb-3">Formulaire</h1>
    {% if form is defined %}
        {{ form_start(form) }}
        <div class="bg-light w-50 mx-auto p-2">
            <div class="p-2 text-primary">
                {{ form_row(form.titre) }}
            </div>
            <div class="p-2 text-primary">
                {{ form_row(form.nomAlbum) }}
            </div>
            <div class="p-2 text-primary">
                {{ form_row(form.paroles) }}
            </div>
            <div class="p-2 text-primary">
                {{ form_row(form.auteur) }}
            </div>
            <div class="p-2 text-primary">
                {{ form_row(form.dateSortie) }}
            </div>
            <div class="p-2 text-primary">
                {{ form_row(form.genre) }}
            </div>

            <div class="btn btn-primary">
                {{ form_row(form.submit) }}
            </div>


        </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
