{% extends 'base.html.twig' %}


{% block title %}Listes des Chansons {% endblock %}

{% block body %}
    <h1 class="mx-auto text-primary w-50 mt-5 mb-3">Listes des Chansons </h1>

    {% if listeChansons is defined %}
        <table class="table table-striped w-50 mx-auto">
            <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Titres</th>
                <th scope="col">Auteurs</th>

            </tr>
            </thead>
            <tbody>

            {% for data in listeChansons %}

                {% set i = 1 %}
                <tr>
                    <th scope="row"><a href="{{ path('detailChansons',{id:data.id}) }}">{{ i }}</a></th>
                    <td><a href="{{ path('detailChansons',{id:data.id}) }}">{{ data.__toString|capitalize }}</a></td>
                    <td><a href="{{ path('detailChansons',{id:data.id}) }}">{{ data.auteur }}</a></td>
                </tr>

                {% set i = i+1 %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
